:root{
	--theme-color: #CC9933;
	--theme-redish: #CB4C33;
	--theme-brown: #b59972;
	--theme-darkbrown: #3d201a;
}

body{
	margin: 0;
	padding: 0;
	font-family: "Roboto", arial, sans-serif;
}

header{
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 100px;
	background-color:  rgba(0 ,0 , 0, .4);
	width: 100%;
	box-sizing: border-box;
	z-index: 9999;
}

header .logo{
	color: #fff;
	height: 50px;
	line-height: 50px;
	font-size: 24px;
	float: left;
	font-weight: bold;
}

header nav{
	float: right;
}

header nav ul{
	margin: 0;
	padding: 0;
	display: flex;
}

.logo img{
	height: 100px;
}

header nav ul li{
	list-style: none;
	position: relative;
}

header nav ul li.sub-menu:before{
	position: absolute;
	line-height: 50px;
	color: #fff;
	right: 5px;
}

header nav ul li ul{
	position: absolute;
	left: 0;
	background-color: var(--theme-brown);
	display: none;
	z-index: 9999;
}
header nav ul li.active ul{
	display: block;
	z-index: 9999;
}
header nav ul li ul li{
	display: block;
	width: 200px;
}

header nav ul li a{
	height: 50px;
	line-height: 50px;
	padding: 0px 20px;
	color: white;
	text-decoration: none;
	display: block;
	font-size: 16px;
	font-family: 'Titillium Web', sans-serif;
}

header nav ul li a:hover{
	background: #CC9933;
}

.menu-toggle{
	color: #fff;
	float: right;
	line-height: 50px;
	font-size: 24px;
	cursor: pointer;
	display: none;
}

.logo img{
	padding: 10px;
	background: white;
}


@media (max-width: 991px){

	header{
		padding: 0 20px;
	}

	.menu-toggle{
		display: block;
	}

	header nav{
		position: absolute;
		width: 100%;
		height: calc(100vh - 50px);
		background: var(--theme-brown);
		top: 50px;
		left: -100%;
		transition: 0.5s;
	}

	header nav.active{
		left: 0;
	}

	header nav ul{
		display: block;
		text-align: center;
	}

	header nav ul li a{
		border-bottom: 1px solid rgba(0 ,0 , 0, .2);
	}

	header nav ul li.active ul{
		position: relative;
		background-color:  #3d201a;
	}

	header nav ul li ul li{
		width: 100%;
	}
}

/**index.html

end index.html**/
@media screen and (max-width: 1024px) {
  nav ul li a{
	  font-size: 1.3em;
	  letter-spacing: 1px;
  }

}
