@import url('https://fonts.googleapis.com/css?family=Roboto');

:root{
	--theme-color: #CC9933;
	--theme-redish: #CB4C33;
	--theme-brown: #b59972;
	--theme-darkbrown: #3d201a;
}

h2, h1, h3, p, li>a{
    font-family: "Roboto";
}

p{
    color: gray;
}

h1, h2, h3{
    color: rgb(97, 97, 97);
}

