@import url('https://fonts.googleapis.com/css?family=Cinzel|Inconsolata|Jacques+Francois+Shadow|Nixie+One|Parisienne|Poiret+One|Wire+One|Yesteryear');

:root{
	--theme-color: #CC9933;
	--theme-redish: #CB4C33;
	--theme-brown: #b59972;
	--theme-darkbrown: #3d201a;
}

button{
	padding: 7px 10px;
	color: white;
	background: var(--theme-color);
	border: 2px solid var(--theme-color);
	text-transform: uppercase;
	font-family: 'Poiret One', cursive;
    font-weight: 700;
}

button:hover{
	border: 2px solid var(--theme-color);
	color: var(--theme-color);
	background: white;
	cursor: pointer;
}

img{
	cursor: pointer;
}