.container{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.container .slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 500%;
    height: 100%;
    animation: animate 15s linear infinite;
}

.container .slider .slide{
    position: relative;
    width: 20%;
    height: 100%;
    float: left;
}

.container .slider .slide .caption{
    position: absolute;
    bottom: 60px;
    left: 60px;
    right: 60px;
    padding: 30px;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
}

.container .slider .slide .caption h2{
    margin: 0 0 20px;
    padding: 0;
    color: #fff;
    font-size: 36px;
    transition: 0.5s;
    font-family: 'Cormorant SC', serif;
}

.container .slider .slide .caption p{
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 36px;
    transition: 0.5s;
    font-family: 'Wire One', sans-serif;
}

.container .slider .slide.slide1{
    background: url(../images/sliders/image1.jpg);
    background-size: cover;
    background-position: center;
    transition: 0.5s;
}

.container .slider .slide.slide2{
    background: url(../images/sliders/image2.jpg);
    background-size: cover;
    background-position: center;
}

.container .slider .slide.slide3{
    background: url(../images/sliders/image3.jpg);
    background-size: cover;
    background-position: center;
}

.container .slider .slide.slide4{
    background: url(../images/sliders/image4.jpg);
    background-size: cover;
    background-position: center;
}

@keyframes animate{
    0%{
        left: 0;
    }

    20%{
        left: 0;
    }

    25%{
        left: -100%;
    }

    45%{
        left: -100%;
    }

    50%{
        left: -200%;
    }

    70%{
        left: -200%;
    }

    75%{
        left: -300%;
    }

    95%{
        left: -300%;
    }

    100%{
        left: -400%;
    }
}

@media screen and (max-width: 1024px) {
   .container .slider .slide .caption h2{
       font-size: 40px;
   }

   .container .slider .slide .caption p{
    font-size: 28px;
    }
  }
  

@media (max-width: 768px){
    .container .slider .slide .caption{
        bottom: 20px;
        left: 20px;
        right: 20px;
        padding: 20px;
    }
    
    .container .slider .slide .caption h2{
        margin: 0 0 10px;
        font-size: 25px;
    }
    
    .container .slider .slide .caption p{

        font-size: 18px;
    }
    
}

@media screen and (max-width: 320px) {
    .container .slider .slide .caption h2{
        font-size: 18px;
    }

    .container .slider .slide .caption p{
        font-size: 14px;
    }
}
